build --java_language_version=17
build --tool_java_language_version=17
build --java_runtime_version=remotejdk_17
build --tool_java_runtime_version=remotejdk_17

test --test_output=errors

common --registry=https://raw.githubusercontent.com/eclipse-score/bazel_registry/main/
common --registry=https://bcr.bazel.build

# GCC Linux build configurations
common:gcc_x86_64_linux --host_platform=@score_bazel_platforms//:x86_64-linux
common:gcc_x86_64_linux --platforms=@score_bazel_platforms//:x86_64-linux
common:gcc_x86_64_linux --extra_toolchains=@gcc_toolchain//:host_gcc_12

# In order to build for QNX, you need:
# * An account on qnx.com
# * An assigned QNX 8 license to your account
#   * If you are applicable for "Free for non commercial use" see here: https://www.qnx.com/products/everywhere/
# * The credentials for this account stored in your ~/.netrc (machine qnx.com)
# * A license stored under `/opt/score_qnx/license/licenses`
common:qnx_x86_64 --host_platform=@score_bazel_platforms//:x86_64-linux
common:qnx_x86_64 --platforms=@score_bazel_platforms//:x86_64-qnx8_0
common:qnx_x86_64 --extra_toolchains=@toolchains_qnx_ifs//:ifs_x86_64
common:qnx_x86_64 --extra_toolchains=@toolchains_qnx_qcc//:qcc_x86_64
common:qnx_x86_64 --credential_helper=*.qnx.com=%workspace%/tools/qnx_credential_helper.py
common:qnx_x86_64 --sandbox_writable_path=/var/tmp

common:qnx_arm64 --host_platform=@score_bazel_platforms//:x86_64-linux
common:qnx_arm64 --platforms=@score_bazel_platforms//:arm64-qnx8_0
common:qnx_arm64 --extra_toolchains=@toolchains_qnx_ifs//:ifs_aarch64
common:qnx_arm64 --extra_toolchains=@toolchains_qnx_qcc//:qcc_aarch64
common:qnx_arm64 --credential_helper=*.qnx.com=%workspace%/tools/qnx_credential_helper.py
common:qnx_arm64 --sandbox_writable_path=/var/tmp