name: Test Trudag extensions

on:
  workflow_call:
    inputs:
      artifact_id:
        description: 'Unique identifier for artifacts'
        required: true
        type: string

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    
    - name: Set up Python
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      with:
        python-version: '3.11.2'
    
    - name: Install dependencies
      run: |
        pip install --require-hashes -r .devcontainer/S-CORE/requirements.txt
        pip install git+https://gitlab.com/CodethinkLabs/trustable/trustable@83b4023d7e2bd2b984db2c81543266ce09a7cbf7
    
    - name: Run tests
      run: |
        cd .dotstop_extensions
        PYTHONPATH=.. pytest -v

    - name: Generate test_trudag_extensions artifact
      run: |
        echo "Generating test_trudag_extensions artifact..."
        mkdir -p test_trudag_extensions
        echo "test_trudag_extensions processed for ${{ inputs.artifact_id }}" > test_trudag_extensions/test_trudag_extensions.txt

    - name: Upload test_trudag_extensions artifact
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: ${{ inputs.artifact_id }}
        path: test_trudag_extensions/